.sidebar-left-item{
    height:4rem;
    font-size: 1.6rem;
    
    display: flex;
    margin-left: 8px;
    &:hover{
        opacity: .8;
        background-color: #340444;
    }
    
    &__text{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .MuiSvgIcon-root{
        margin-right: 5px;
        cursor: pointer;
    }
}


@media (max-width:33.75em){
    .sidebar-left-item{
    font-size: 1.2rem;
    text-overflow:ellipsis;
    
    display: flex;
    margin-left: 8px;
    &:hover{
        opacity: .8;
        background-color: #340444;
    }
    
    &__text{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .MuiSvgIcon-root{
        margin-right: 5px;
        cursor: pointer;
    }
}
}

@media (max-width:22.5em){
    .sidebar-left-item{
    font-size: 1rem;
    text-overflow:ellipsis;
    
    display: flex;
    margin-left: 6px;
    &:hover{
        opacity: .8;
        background-color: #340444;
    }
    
    &__text{
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .MuiSvgIcon-root{
        margin-right: 5px;
        cursor: pointer;
    }
}
}