.chat-input{
    &__form{
        &--input{
            position: fixed;
            bottom: 10px;
            margin-left: 10px;
            font-size: medium;
            width: 65%;
            padding:1rem  2rem ;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            &__btn{
                cursor: pointer;
                position: fixed;
                bottom: 25px;
                left: 84.5%;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                &:focus{
                    outline: none;
                }
                h5{
                    margin-right: 6px ;
                }
                &:hover{
                    background-color:transparent;
                    color: #212121;
                    opacity: .78;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    // border: 1px solid #262626;
                }
            }
        }
    }


}

@media (max-width:35rem) {
    .chat-input{
    &__form{
        &--input{
            position: fixed;
            bottom: 10px;
            margin-left: 10px;
            font-size: medium;
            width: 65%;
            padding:1rem  2rem ;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            &__btn{
                cursor: pointer;
                position: fixed;
                bottom: 25px;
                left: 80%;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                &:focus{
                    outline: none;
                }
                h5{
                    margin-right: 6px ;
                }
                &:hover{
                    background-color:transparent;
                    color: #212121;
                    opacity: .78;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    // border: 1px solid #262626;
                }
            }
        }
    }


}
}